*{  margin: 0; 
}
body{
    background-color: black;
    display: grid;
    place-items: center;
    
    /* animation: bgcolor 2s infinite alternate linear; */
}

.container{
    margin-top: 6rem;
    background-image: linear-gradient( blue ,aqua);
    
    border-radius: 10px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* margin: 8% 37% ; */
    width: 24rem;
    height: 25rem;
    
    
    
    font-size: 2rem;   


}

/* @keyframes bgcolor{
    0%{background:linear-gradient(blue, purple)}
    50%{background: blueviolet;}
    100%{background: tomato;}
} */


.state{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    height: 50%;
}


.temp,.weather,.hum
{
 height: 13%;   
}


/* nav bar  */
.nav img{
    height:17px


}
.nav{
    background-color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* weather classes */

.im{
    margin-left: 9rem;
    width: 6rem;
    height: 6rem;
}


.upper{
    height: 15rem;
    /* display: grid;
    place-items: center; */

}


.inp {
    height: 23px;
border-radius: 10px 0px;
}


/* for incorrect input  */
.inp:invalid{
    animation: shake 300ms;
    color: red;
}

@keyframes shake{
    25%{transform: translateX(4px);}
    75%{transform: translateX(-4px);}
}

.btn{
    /* background-color: blue; */
    height: 29px;
    border-radius: 0px 10px;
}